<header class="w-full py-4">
  <div class="container mx-auto flex content-around justify-between px-4">
    <div>
      <a class="font-bold text-lg" href="{{ `/` | absURL }}">{{ site.Title }}</a>
    </div>
    <div class="hidden md:block menu">
      <nav>
        <ul class="flex justify-end space-x-6">
          <li><a href="https://github.com/acdiost" target="_blank">GitHub</a></li>
          <li><a href="/posts/about/">About Me</a></li>
        </ul>
      </nav>
    </div>
    <div class="block md:hidden">
      <button id="menu-toggle"
        class="flex items-center px-3 py-2 border rounded text-gray-800 border-gray-400 hover:text-black hover:border-black">
        <svg class="h-3 w-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
  </div>
</header>