{{ define "main" }}

{{ $pages := union .RegularPages .Sections }}

{{ $paginator := .Paginate $pages }}

<section class="container mx-auto {{ if not .IsHome }}w-full md:w-1/2{{ else }}w-full{{ end }}">
  {{ if and .Title (eq .Type "tags") }}
  <h1 class="text-xl p-4"><span>Tags: </span> {{ .Title }} </h1>
  {{ end }}

  {{ if .Params.tags }}
  <footer class="mt-4">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a href="{{ $href }}">{{ . }}</a>
    {{ end }}
  </footer>
  {{ end }}

  <ul>
    {{ range $index, $page := $paginator.Pages }}
    <li class="p-4 mb-4">
      <h2 class="text-xl font-bold"><a class="hover:underline" href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <time class="text-gray-600">{{ .Date | time.Format ":date_medium" }}</time>
      <p>{{ .Summary }}</p>

    </li>
    {{ end }}
  </ul>
  {{ if gt .Paginator.TotalPages 1 }}
  <nav class="my-8 flex flex-row justify-between items-center">
    <div>
      {{ if .Paginator.HasPrev }}
      <a class="text-[#EACD76] p-3 bg-slate-800 rounded-md hover:underline" href="{{ .Paginator.Prev.URL }}">&larr;
        Previous</a>
      {{ end }}
    </div>
    <div>
      <span class="mb-2">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
    </div>
    <div>
      {{ if .Paginator.HasNext }}
      <a class="text-[#EACD76] p-3 bg-slate-800 rounded-md hover:underline" href="{{ .Paginator.Next.URL }}">Next
        &rarr;</a>
      {{ end }}
    </div>
  </nav>
  {{ end }}

</section>

{{ end }}